{
  "name": "@sp-api-sdk/{{packageName}}",
  "author": "Vincent Mesquita <vincent.mesquita@bizon.solutions>",
  "description": "{{description}}",
  "version": "{{version}}",
  "exports": {
    ".": {
      "types": "./dist/types/index.d.ts",
      "import": "./dist/es/index.js",
      "require": "./dist/cjs/index.js"
    }
  },
  "main": "./dist/cjs/index.js",
  "module": "./dist/es/index.js",
  "types": "./dist/types/index.d.ts",
  "license": "MIT",
  "publishConfig": {
    "access": "public"
  },
  "directories": {
    "lib": "dist"
  },
  "files": [
    "dist/**/*.js",
    "dist/**/*.d.ts"
  ],
  "scripts": {
    "check:ts": "yarn tsc --noEmit",
    "build:cjs": "tsc -p tsconfig.json",
    "build:es": "tsc -p tsconfig.es.json",
    "build": "yarn build:cjs && yarn build:es",
    "clean": "rimraf dist",
    "test": "jest"
  },
  "dependencies": {
    "@sp-api-sdk/common": "^{{dependencies.common}}",
    "axios": "{{dependencies.axios}}"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/bizon/selling-partner-api-sdk.git",
    "directory": "clients/{{packageName}}"
  },
  "bugs": {
    "url": "https://github.com/bizon/selling-partner-api-sdk/issues"
  },
  "homepage": "https://github.com/bizon/selling-partner-api-sdk/tree/master/clients/{{packageName}}",
  "keywords": [
    "amazon",
    "bizon",
    "marketplace web services",
    "mws",
    "selling partner api",
    "sp api",
    "sp sdk",
    "{{apiName}}"
  ],
  "typedoc": {
    "entryPoint": "./index.ts"
  }
}
