{
  "name": "@sp-api-sdk/{{clientName}}",
  "author": "Vincent Mesquita <vincent.mesquita@bizon.solutions>",
  "description": "{{description}}",
  "version": "{{version}}",
  "main": "dist/cjs/index.js",
  "module": "dist/es/index.js",
  "types": "dist/types/index.d.ts",
  "license": "MIT",
  "publishConfig": {
    "access": "public"
  },
  "directories": {
    "lib": "dist"
  },
  "files": [
    "dist/**/*.js",
    "dist/**/*.d.ts"
  ],
  "scripts": {
    "check:ts": "yarn tsc --noEmit",
    "build:cjs": "tsc -p tsconfig.json",
    "build:es": "tsc -p tsconfig.es.json",
    "build": "yarn build:cjs && yarn build:es",
    "clean": "rimraf dist",
    "test": "NODE_ENV='test' yarn jest"
  },
  "dependencies": {
    "@sp-api-sdk/auth": "^{{dependencies.auth}}",
    "@sp-api-sdk/common": "^{{dependencies.common}}",
    "axios": "{{dependencies.axios}}"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/bizon/selling-partner-api-sdk.git",
    "directory": "clients/{{clientName}}"
  },
  "bugs": {
    "url": "https://github.com/bizon/selling-partner-api-sdk/issues"
  },
  "homepage": "https://github.com/bizon/selling-partner-api-sdk/tree/master/clients/{{clientName}}",
  "keywords": [
    "amazon",
    "bizon",
    "marketplace web services",
    "mws",
    "selling partner api",
    "sp api",
    "sp sdk",
    "{{apiName}} api"
  ]
}
