import {type ClientConfiguration, createAxiosInstance, type RateLimit} from '@sp-api-sdk/common'

import {Configuration, {{className}}} from './api-model'

export const clientRateLimits: RateLimit[] = [
{{#rateLimits}}
  {
    method: '{{method}}',
    // eslint-disable-next-line prefer-regex-literals
    urlRegex: {{&urlRegex}},
    rate: {{rate}},
    burst: {{burst}},
  },
{{/rateLimits}}
]

export class {{clientClassName}} extends {{className}} {
  constructor(configuration: ClientConfiguration) {
    const {axios, endpoint} = createAxiosInstance(configuration, clientRateLimits)

    super(new Configuration(), endpoint, axios)
  }
}
