/* eslint-comments/no-unused-disable, eslint-disable prefer-regex-literals, no-floating-decimal, prefer-regex-literals */
import {Configuration, {{className}}} from './api-model'

import {endpoints, awsRegionByCode, createAxiosInstance, ClientConfiguration, onRetry} from '@sp-api-sdk/common'

{{=<% %>=}}
import {<%errorClassName%>} from './error'
<%={{ }}=%>

export const RATE_LIMITS = [
{{#rateLimits}}
	{
		urlRegex: {{&urlRegex}},
		rate: {{rate}},
		burst: {{burst}}
	}{{^last}},{{/last}}
{{/rateLimits}}
]

export interface ClientParameters extends Omit<ClientConfiguration, 'rateLimits | onRetry'> {
	rateLimiting?: {
		retry: boolean;
		onRetry?: onRetry;
	};
}

export class {{clientClassName}} extends {{className}} {
	constructor(parameters: ClientParameters) {
		const region = awsRegionByCode[parameters.region] ?? parameters.region
		const {rateLimiting, ...clientParameters} = parameters
		const axiosParameters: ClientConfiguration = {...clientParameters, region}

		if (rateLimiting?.retry) {
			axiosParameters.rateLimits = RATE_LIMITS
			axiosParameters.onRetry = rateLimiting.onRetry
		}

		const axiosInstance = createAxiosInstance(axiosParameters)
		const configuration = new Configuration()
		const environment = parameters.sandbox ? 'sandbox' : 'production'
		const endpoint = endpoints[environment][region]

		if (!endpoint) {
			throw new {{errorClassName}}(`Unknown region : ${region}`)
		}

		super(configuration, endpoint, axiosInstance)
	}
}

