name: Codegen

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

jobs:
  update-models:
    name: "Codegen: update models"
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --prefer-offline

      - name: Generate clients from models
        run: yarn codegen clients

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create or update clients pull request
        uses: peter-evans/create-pull-request@v4
        with:
          add-paths: clients
          branch: codegen/update-models
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          title: "feat(clients): update models as of ${{ steps.date.outputs.date }}"
          commit-message: "feat(clients): update models as of ${{ steps.date.outputs.date }}"
          body: |
            This is an automated pull request that was generated due to changes detected in the [Amazon Selling Partner API models](https://github.com/amzn/selling-partner-api-models).

            The branch associated with this PR will be automatically updated if other changes occur.
          delete-branch: true
          reviewers: tusbar

  update-notification-schemas:
    name: "Codegen: update notification schemas"
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --prefer-offline

      - name: Generate notification schemas from models
        run: yarn codegen notifications

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create or update notifications pull request
        uses: peter-evans/create-pull-request@v4
        with:
          add-paths: packages/notifications
          branch: codegen/update-notifications
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          title: "feat(notifications): update notification schemas as of ${{ steps.date.outputs.date }}"
          commit-message: "feat(notifications): update notification schemas as of ${{ steps.date.outputs.date }}"
          body: |
            This is an automated pull request that was generated due to changes detected in the [Amazon Selling Partner API models](https://github.com/amzn/selling-partner-api-models).

            The branch associated with this PR will be automatically updated if other changes occur.
          delete-branch: true
          reviewers: tusbar
