name: Release

on: [workflow_dispatch]

concurrency: release

jobs:
  release:
    name: Run lerna publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: yarn
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --prefer-offline

      - name: Build TS output
        run: yarn build

      - name: Make sure repository is clean
        run: git diff --exit-code

      - name: Configure git user
        run: |
          git config --global user.email "${{ secrets.BOT_EMAIL }}"
          git config --global user.name  "${{ secrets.BOT_NAME }}"

      - name: Publish packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
        run: |
          yarn lerna publish from-package --create-release github --no-verify-access --yes

  docs:
    name: Update and publish documentation
    needs: release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --prefer-offline

      - name: Check that there are no unreleased changes
        run: |
          (! yarn -s lerna diff | grep -q ^)

      - name: Build documentation
        run: yarn typedoc

      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: docs
          folder: docs
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          commit-message: 'docs: update documentation'
          git-config-name: ${{ secrets.BOT_NAME }}
          git-config-email: ${{ secrets.BOT_EMAIL }}
