name: Release

on:
  workflow_dispatch:
    inputs:
      force-patch-release:
        description: "Force patch release for all packages"
        required: false
        type: boolean
        default: false

concurrency: release

permissions:
  id-token: write

jobs:
  release:
    name: Run lerna publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build TS output
        run: pnpm build

      - name: Make sure repository is clean
        run: git diff --exit-code

      - name: Configure git user
        run: |
          git config --global user.email "${{ secrets.BOT_EMAIL }}"
          git config --global user.name  "${{ secrets.BOT_NAME }}"

      - name: Publish packages
        env:
          GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
        run: |
          if [ "${{ github.event.inputs.force-patch-release }}" = "true" ]; then
            pnpm lerna publish --force-publish --bump patch --skip-bump-only-releases --yes;
          else
            pnpm lerna publish --skip-bump-only-releases --yes;
          fi

  docs:
    name: Update and publish documentation
    needs: release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build documentation
        run: pnpm run docs
        env:
          NODE_OPTIONS: --max_old_space_size=6144

      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: docs
          folder: docs
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          commit-message: "docs: update documentation"
          git-config-name: ${{ secrets.BOT_NAME }}
          git-config-email: ${{ secrets.BOT_EMAIL }}
